<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <link type="text/css" rel="stylesheet" href="/stylesheets/icon_2016_1_13/iconfont.css" />
    <script type="text/javascript" src="/javascripts/common_func.js"></script>
    <link type="text/css" rel="stylesheet" href="/stylesheets/home.css" />
    <meta name="copyright" content="xxx.com">
    <title>折更低 | 推荐最物美价廉的商品</title>
</head>

<script type="text/javascript">
    console.log("%c 请勿相信任何非官网联系页面上的联系方式", "color: red; font-size: 30px");
</script>

<style type="text/css">
/* 顶部信息栏 */
#top-bar-lay{
    width: 100%;
    min-width: 1190px;
    height: 30px;
    background-color: #F2F2F2;
}

.top-bar-insert {
    width: 1190px;
    height: 100%;
    margin: auto;
}

#login-area {
    display: inline-block;
    float: right;
    line-height: 30px;
    font-size: 0;
}

.log-l {
    display: inline-block;
    font-size: 12.5px;
    color: #8F8F8F;
    padding: 0 10px;
}

.log-l:hover {
    color: #CD0000;
    cursor: pointer;
}

</style>



<body class="main-background">


<!-- 顶部信息栏 start -->
<div id="top-bar-lay">
    <div class="top-bar-insert">
        <ul id="login-area">
            <li id="login-plugin-button" class="log-l"><a href="/login">请登陆</a></li>
            <li id="signin-plugin-button" class="log-l">快速注册</li>
        </ul>
    </div>
</div>
<!-- 顶部信息栏 end -->





<!-- LOGO和搜索框 start -->
<div id="header">
    <div id="logo">

    </div>

    <div id="main-search-area">
        <form method="get" id="main-search-form" action="/search">
            <input type="text" id="main-search" name="m-search" placeholder="马上搜，折扣多多">
            <button id="main-click-s" type="submit" form="main-search-form">搜索</button>
        </form>
    </div>
</div>
<!-- LOGO和搜索框 end -->


<div id="global-nav-lay">
    <ul id="global-nav">
        <li class="g-nav-list"><a href="#">9.9包邮</a></li>
        <li class="g-nav-list"><a href="#">特价精选</a></li>
        <li class="g-nav-list"><a href="#">品牌特卖</a></li>
        <li class="g-nav-list"><a href="#">超值</a></li>
        <li class="g-nav-list"><a href="#">明日预告</a></li>
        <li class="g-nav-list"><a href="#">手机版</a></li>
        <li class="g-nav-list"><a href="#">本日明星店</a></li>
    </ul>
</div>

<div id="main-lay">
    <div class="main">

        <div id="commodity-and-cycle-poster">

            <!-- 分类栏目 start -->
            <div id="commodity-select">
                <div class="como-sele-internal">
                    <div class="ever-como-sele">
                        <a class="go-como" href="#"><i class="iconfont">&#xe6b8;</i>&nbsp;女装</a>
                        <a class="go-como" href="#"><i class="iconfont">&#xe60e;</i>&nbsp;男装</a>
                    </div>
                    <div class="ever-como-sele">
                        <a class="go-como" href="#"><i class="iconfont">&#xf0048;</i>&nbsp;内衣</a>
                        <a class="go-como" href="#"><i class="iconfont">&#xe60f;</i>&nbsp;鞋包</a>
                    </div>
                    <div class="ever-como-sele">
                        <a class="go-como" href="#"><i class="iconfont">&#xe600;</i>&nbsp;珠宝</a>
                        <a class="go-como" href="#"><i class="iconfont">&#xe60f;</i>&nbsp;美妆</a>
                    </div>
                    <div class="ever-como-sele">
                        <a class="go-como" href="#"><i class="iconfont">&#xe65b;</i>&nbsp;家纺</a>
                        <a class="go-como" href="#"><i class="iconfont">&#xe60b;</i>&nbsp;居家</a>
                    </div>
                    <div class="ever-como-sele">
                        <a class="go-como" href="#"><i class="iconfont">&#xe66e;</i>&nbsp;玩具</a>
                        <a class="go-como" href="#"><i class="iconfont">&#xe6df;</i>&nbsp;母婴</a>
                    </div>
                    <div class="ever-como-sele">
                        <a class="go-como" href="#"><i class="iconfont">&#xe61e;</i>&nbsp;家电</a>
                        <a class="go-como" href="#"><i class="iconfont">&#xe60a;</i>&nbsp;数码</a>
                    </div>
                    <div class="ever-como-sele">
                        <a class="go-como" href="#"><i class="iconfont">&#xe617;</i>&nbsp;食品</a> | 
                        <a class="go-como" href="#"><i class="iconfont">&#xe671;</i>&nbsp;文体</a>
                    </div>
                    <div class="ever-como-sele no-border-bottom">
                        <a class="go-como" href="#"><i class="iconfont">&#xe64c;</i>&nbsp;配饰</a>
                        <a class="go-como" href="#"><i class="iconfont">&#xe619;</i>&nbsp;中老年</a>
                    </div>
                </div>
            </div>
            <!-- 分类栏目 end -->
            
            <!-- 海报区域 start -->
            <div id="cycle-poster-area" class="main-background">
                <img class="cycle-poster-pic" src="/images/56b3229792be59f12e8b4567_700x360.jpg" alt="poster-picture" />
                <ul id="cycle-button">
                    <li class="cycle-e-point"></li>
                    <li class="cycle-e-point"></li>
                    <li class="cycle-e-point"></li>
                    <li class="cycle-e-point"></li>
                    <li class="cycle-e-point"></li>
                    <li class="cycle-e-point"></li>
                </ul>
            </div>
            <!-- 海报区域 end -->

            <!-- 右侧小海报 start -->
            <div id="right-little-poster-area">
            </div>
            <!-- 右侧小海报 end -->
        </div>
        <!-- div:commodity-and-cycle-poster end -->

        
        <!-- 首页商品推荐 start-->
        <div id="home-recommand-area" class="main-background">
            <ul class="commodity-ever">
                <% x =1 %>
               <% while(x < 50) { %>
                <li class="item">
                    <div class="item-pic-real">
                        <img src="/images/TB16YozIXXXXXbvXVXXXXXXXXXX_!!0-item_pic.jpg_400x400.jpg" />
                    </div>
                    <h3 class="commodity-title c-distance">[包邮]<a class="go_link" href="https://item.taobao.com/item.htm?id=521697002996" target="_blank">百搭小象刺绣打底衬衫</a></h3>
                    <div class="c-summary c-distance">
                        <span class="current-price price-position"><em class="coin-icon">￥</em>30</span>
                        <span class="pre-price price-position">￥200</span>
                        <span class="discount price-position">(6折)</span>
                        <div class="go-source">去天猫</div>
                    </div>
                </li>
                <% x++ %>
            <% } %>


            </ul>
        </div>
        <!-- 首页商品推荐 end -->

    </div>
    <!-- div:main end -->

    <footer>
        <div class="main">
            <div class="fo-left-info">
                <dl class="fo-e fo-t1">
                    <dt class="fo-title">关于本站</dt>
                    <dd><a href="#">本站声明</a></dd>
                    <dd><a href="#">条约条款</a></dd>
                    <dd><a href="#">本站声明</a></dd>
                </dl>

                <dl class="fo-e fo-tz">
                    <dt class="fo-title">关于本站</dt>
                    <dd><a href="#">本站声明</a></dd>
                    <dd><a href="#">条约条款</a></dd>
                    <dd><a href="#">本站声明</a></dd>
                </dl>

                <dl class="fo-e fo-tz">
                    <dt class="fo-title">关于本站</dt>
                    <dd><a href="#">本站声明</a></dd>
                    <dd><a href="#">条约条款</a></dd>
                    <dd><a href="#">本站声明</a></dd>
                </dl>

                <dl class="fo-e fo-tz">
                    <dt class="fo-title">关于本站</dt>
                    <dd><a href="#">本站声明</a></dd>
                    <dd><a href="#">条约条款</a></dd>
                    <dd><a href="#">本站声明</a></dd>
                </dl>


            </div>
            <div class="fo-right-info">
            </div>
        </div>
    </footer>
</div>
<!-- div:main-lay end-->

</body>
</html>